<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Text Analyzer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        /* Custom CSS for meter labels */
        .meter-label {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .meter-title {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .meter {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-right: 15px;
        }

        footer {
            padding: 20px 0;
            background-color: #f0f0f0;
            text-align: center;
            font-size: 0.9rem;
            color: #666;
            border-top: 1px solid #ccc;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="../assets/logo.png" alt="Logo" style="max-height: 2.5rem;">
          </a>
          <div class="navbar-item is-size-4 has-text-white">
            Sentiment Text Analyzer
          </div>
        </div>
      </nav>
    <section class="section" style="margin-bottom: 20px;">
        <div class="container">
            <h2 class="title">Analysed Text</h2>
            <textarea style="width: 100%;" disabled>{{ text }}</textarea>
            <p><strong>Language detected: {{ data.language }}</strong></p>
            <br>
            <h2 class="title">Word Categories Map</h2>
            <div class="tags">
                {% for category, score in data.categories.items() %}
                <span class="tag is-primary">{{ category }} ({{score | round(3)}})</span>
                {% endfor %}
            </div>
            <hr>
            <h2 class="title">Sentiment Analysis</h2>
            <div>
                <p><strong>Negative Words Count:</strong> {{ data.sentiment.negative_words_count }}</p>
                <p><strong>Positive Words Count:</strong> {{ data.sentiment.positive_words_count }}</p>
                <br>
                <!-- Grouping Polarity, Compound, and Subjectivity -->
                <div class="columns">
                    <!-- Polarity -->
                    <div class="column meter">
                        <p class="meter-title"><strong>Polarity</strong></p>
                        <div class="meter-label">
                            <span>Negative</span>
                            <span>Neutral</span>
                            <span>Positive</span>
                        </div>
                        <meter style="width: 100%;" min="-1" max="1" value="{{ data.sentiment.polarity }}"></meter>
                        <p><strong>Value:</strong> {{ data.sentiment.polarity }}</p>
                    </div>

                    <!-- Subjectivity -->
                    <div class="column meter">
                        <p class="meter-title"><strong>Subjectivity</strong></p>
                        <div class="meter-label">
                            <span>Objective</span>
                            <span>Neutral</span>
                            <span>Subjective</span>
                        </div>
                        <meter style="width: 100%;" min="0" max="1" value="{{ data.sentiment.subjectivity }}"></meter>
                        <p><strong>Value:</strong> {{ data.sentiment.subjectivity }}</p>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="title">VADER Analysis</h2>
            <div>
                <p><strong>VADER Negative:</strong> {{ data.sentiment.vader.negative }}</p>
                <p><strong>VADER Neutral:</strong> {{ data.sentiment.vader.neutral }}</p>
                <p><strong>VADER Positive:</strong> {{ data.sentiment.vader.positive }}</p>
                <br>
                <div class="columns">
                    <!-- Compound Score -->
                    <div class="column meter">
                        <p class="meter-title"><strong>VADER Compound Score</strong></p>
                        <div class="meter-label">
                            <span>Very Negative</span>
                            <span>Neutral</span>
                            <span>Very Positive</span>
                        </div>
                        <meter style="width: 100%;" min="-1" max="1" value="{{ data.sentiment.vader.compound }}"></meter>
                        <p><strong>Value:</strong> {{ data.sentiment.vader.compound }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        Sentiment Text Analyzer - Developed by <a href="https://gitlab.com/mmcamore">mmcamore</a>
    </footer>
</body>
</html>
